
		/* 导航栏 开始*/
		#top_div{
			background-color: #2e3138;
			height: 30px;
		}
		.nav_all{
			background-color: #FFFFFF; 
			text-align: center;
			font-size: 20px;
			font:#000;
			font-weight: bold; 
		}
		
		.nav_li{
			background-color: #FFFFFF;
			width: 12%;

		}
		#nav_first{
			width: 10%;
		}
		#nav_li_dropdown{
			width: 14%;
		}
		.nav_li:hover{
			background-color: #0074A6; 
		}
		body{
			background-color: #e6e6e6;

		}
		.nav_ul{
			width: 100%;
			line-height: 50px;

		}
		.nav_ul_li_ul_li:hover{
			background-color: #0090CE;
		}
		.nav_ul_li_ul{
			background-color: #0074A6;

			
		}
		.nav_ul_li_ul_li{
			line-height: 35px;
		}
		.container-fluid{
			padding-right: 0px;
			padding-left: 0px;
		}

		.container{
			float: left;
			width: 75%;
		}
		.nav_right{
			float: right;
			vertical-align: middle;
		}
		#login{
			vertical-align: middle;
			float: right;
			line-height: 20px;
		}
		#loginModal{
			width: 60%;
			vertical-align: middle;
			top: 20%;
		}
		.moddal-dialog{
			vertical-align: middle;
			width: 500px;
			height: 450px;
		}
		#top_login{
			background-color: #2E3138;
			margin:0px;
			border-color:#000;
			margin-right: 160px;

		}
		#register{
			float: right;
			width: 54px;
		}
		

		/* 导航栏 结束*/





		
		.div_image{
			width: 20%;
			height: 120px;


		}
		.jumbotron{
			
			background: #FFFFFF;
			margin: 5px;
			padding: 10px;
			padding-right:0px;
			padding-left:0px;
			cursor: 0;
		}
		#jumbotron{
			margin: 0px;
			padding: 20px;
			margin-bottom: 20px;
			width: 100%;
		
		}
		#email,#password{
			height: 35px;
		}

		#article_list{
			
			width: 60%; 
			margin-left:10%;
		}
		#right_div{
		
			border: solid 1px;
			float: left;
			width: 20%;
			height: 100px;
		}
		.media-heading{
			font-size: 20px;
			font-weight: bold;
		}
		.article_origin{
			margin-right: 30px;
		}
		.media-body div{
			line-height: 2em;
		}


