
	


		
		.div_image{
			width: 20%;
			height: 120px;


		}
		.jumbotron{
			
			background: #FFFFFF;
			margin: 5px;
			padding: 10px;
			padding-right:0px;
			padding-left:0px;
			cursor: 0;
		}
		#jumbotron{
			margin: 0px;
			padding: 20px;
			margin-bottom: 20px;
			width: 100%;
		
		}
		#email,#password{
			height: 35px;
		}

		#article_list{
			
			width: 60%; 
			margin-left:10%;
		}
		#right_div{
		
			border: solid 1px;
			float: left;
			width: 20%;
			height: 100px;
		}
		.media-heading{
			font-size: 20px;
			font-weight: bold;
		}
		.article_origin{
			margin-right: 30px;
		}
		.media-body div{
			line-height: 2em;
		}



