 <!-- 全部内容  开始-->
	<div class="container-fluid">
		<div class="container" id="article_list">
		<?php foreach ($welcome_article_list as $key => $article) { ?>
		
			<div class="jumbotron" id="jumbotron">

				<div class="media">

				  <div class="media-left div_image">

				    <a href="<?php echo site_url("article/article_detail")."?article_id=".$article['aid'] ?>">
					
				      <img width="100px" height="100px" class="media-object" src="<?php echo $article['image'] ?>" alt="...">
				   
				    </a>

				  </div>

				  <div class="media-body">

				    <h4 class="media-heading"><?php echo  $article['title']?></h4>
					<div>
						<span class="article_origin">
							<?php echo $article['origin'] ?>
						</span>
						<?php echo $article['create_time'] ?> 
					</div>
					<div>
				  	  <span><?php echo $article['content']?></span>
					</div>
				  </div>

				</div>

			</div> 
		
		<?php }  ?>

		</div>

		<div>
<!-- 			<div id="right_div">
	sadasd
</div>
<div id="right_div">
	sadasd
</div>
<div id="right_div">
	sadasd
</div>
<div id="right_div">
	sadasd
</div> -->
			
		<div>
	</div>

	 <!-- 全部内容  结束-->