
<style type="text/css">
	.footer{
		display: block;
		bottom: 10px;
		float: left;
		height: 80px;
		width: 100%;
		text-align: center;
		background: #2E3138;
	}
	.footer_ul{
		margin-top: 20px;
	}
	.footer div{
		display: inline;
		width: 14%;
		height: 100%;
	}
	.footer li :hover{
		background-color: #0074A6;
		
	}
	.footer_li{
		float: left;
		line-height: 40px;
		width: 14%;
	}

</style>


<div class="footer container">

	<ul class ="footer_ul">	
		<li class="footer_li">
			&nbsp;
		</li>
		<li class="footer_li">
			<a href="#">关于我们</a>
		</li>
		<li class="footer_li">
			<a href="#">加入我们</a>
		</li>
		
			<li class="footer_li">
				<a href="#">广告及服务</a>
			</li>
		
		<li class="footer_li">
			<a href="#">常见问题解答</a>
		</li>
	</ul>


</div>

</body>
</html>