<!DOCTYPE html>
<html>
<head>
	<title></title>



 	<link rel="stylesheet" type="text/css" href="<?php echo  BOOTSTRAP_PATH ;?>/css/bootstrap.css">

	<script type="text/javascript" src ="<?php echo  JS_PATH ;?>/jquery-2.1.1.js" ></script>
	<script type="text/javascript" src="<?php echo  BOOTSTRAP_PATH ;?>/js/bootstrap.js"></script>

	<script charset="utf-8" src="<?php echo  KINDEDITOR_PATH ;?>/kindeditor-min.js"></script>
	<script charset="utf-8" src="<?php echo  KINDEDITOR_PATH ;?>/lang/zh_CN.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo  base_url() ;?>css/admin/addArticle.css">
	<script charset="utf-8" src="<?php echo  base_url() ;?>js/article/addArticle.js"></script>
	<script type="text/javascript">
	KindEditor.ready(function(K) {
				K.each({
					'plug-align' : {
						name : '对齐方式',
						method : {
							'justifyleft' : '左对齐',
							'justifycenter' : '居中对齐',
							'justifyright' : '右对齐'
						}
					},
					'plug-order' : {
						name : '编号',
						method : {
							'insertorderedlist' : '数字编号',
							'insertunorderedlist' : '项目编号'
						}
					},
					'plug-indent' : {
						name : '缩进',
						method : {
							'indent' : '向右缩进',
							'outdent' : '向左缩进'
						}
					}
				},function( pluginName, pluginData ){
					var lang = {};
					lang[pluginName] = pluginData.name;
					KindEditor.lang( lang );
					KindEditor.plugin( pluginName, function(K) {
						var self = this;
						self.clickToolbar( pluginName, function() {
							var menu = self.createMenu({
									name : pluginName,
									width : pluginData.width || 100
								});
							K.each( pluginData.method, function( i, v ){
								menu.addItem({
									title : v,
									checked : false,
									iconClass : pluginName+'-'+i,
									click : function() {
										self.exec(i).hideMenu();
									}
								});
							})
						});
					});
				});
				K.create('#content', {
					themeType : 'qq',
					items : [
						'bold','italic','underline','fontname','fontsize','forecolor','hilitecolor','plug-align','plug-order','plug-indent','link'
					]
				});
			});

	</script>



</head>
<body>


		<form class="form-horizontal" action="<?php echo site_url("article/addArticle")?>" method="post" enctype="multipart/form-data" >
			

			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">标题</label>
				<div class="col-sm-10">
					<input type="text" id="title" name="title" maxlength="30" required="required"/>
				</div>
			</div>			

			<div class="form-group">
				<label for="image" class="col-sm-2 control-label">图片</label>
				<div class="col-sm-10">
					<input type="file" id="image" name="image" required="required"/>
				</div>
			</div>
			<div class="form-group">
				<label for="origin" class="col-sm-2 control-label">来源</label>
				<div class="col-sm-10">
					<input type="text" id="origin" name="origin" required="required"/>
				</div>
			</div>	
			<div class="form-group">
				<label for="link" class="col-sm-2 control-label">链接</label>
				<div class="col-sm-10">
					<input type="text" id="link" name="link" required="required"/>
				</div>
			</div>

			<div class="form-group">
				<label for="content" class="col-sm-2 control-label">内容</label>
				<div class="col-sm-10">
					<textarea rows="20" cols="120" id="content" name="content" required="required">
					</textarea>
				</div>
			</div>	

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" name="提交"/>
				</div>
			</div>
			
		</form>

</body>
</html>